{% extends 'generator/layout.html' %}

{% block content %}
    

    
<h1>about</h1>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat omnis, ab culpa dolore quasi suscipit aspernatur aperiam fugiat, officia natus officiis? Minus blanditiis iste necessitatibus labore dolorum asperiores eligendi deleniti vel deserunt ratione nisi, alias nemo ab fugit amet doloribus a cumque aut magni modi magnam laborum. Odit debitis libero, ipsam deleniti, ducimus ea temporibus nemo hic doloribus maxime earum iure ad a aliquam minima error illum soluta cupiditate alias recusandae praesentium? Repellendus blanditiis nulla eveniet odit quod saepe aperiam libero sunt delectus ducimus minima adipisci a, est reiciendis eligendi, voluptatibus deleniti! Quae aliquam unde cupiditate minus, beatae molestias blanditiis?
</p>
{% endblock %}